#!/bin/bash

# Configure network interface as item.0
cat >/etc/sysconfig/network-scripts/ifcfg-ens3 <<EOF
DEVICE="ens3"
NM_CONTROLLED="no"
ONBOOT=yes
TYPE=Ethernet
BOOTPROTO=static
NAME="connection-ens3"
IPADDR={{networks.0.config.0.gateway[:-1]}}{{(first_ip_address + item.0)}}
NETMASK={{networks.0.config.0.netmask}}
GATEWAY={{networks.0.config.0.gateway}}
DNS1={{dns_resolver}}
EOF

# Configure network interface as item.0
cat >/etc/sysconfig/network-scripts/ifcfg-ens4 <<EOF
DEVICE="ens4"
NM_CONTROLLED="no"
ONBOOT=yes
TYPE=Ethernet
BOOTPROTO=static
NAME="connection-ens4"
IPADDR={{networks.1.config.0.gateway[:-1]}}{{(first_ip_address + item.0)}}
NETMASK={{networks.1.config.0.netmask}}
DNS1={{dns_resolver}}
EOF
