#!/bin/bash

# Configure mgmt network interface
cat >/etc/sysconfig/network-scripts/ifcfg-ens3 <<EOF
DEVICE="ens3"
NM_CONTROLLED="no"
ONBOOT=yes
TYPE=Ethernet
BOOTPROTO=static
NAME="connection-ens3"
IPADDR={{networks.0['gateway'][:-1]}}{{(first_ip_address + item.0)}}
NETMASK={{networks.0['netmask']}}
GATEWAY={{networks.0['gateway']}}
DNS1={{dns_resolver}}
EOF
