<network>
  <name>{{ project }}-{{ item.key }}</name>
  <forward mode='{{ forward_mode }}'/>
  <bridge name='{{ project }}-{{ item.key }}' stp='on' delay='0'/>
  <virtualport type='openvswitch'>
  </virtualport>
  <ip address='{{ item.value.gateway }}' netmask='{{ item.value.netmask }}'>
  </ip>
</network>
